#messageBar{
    position: fixed;
    right: 0px;

    bottom: 0px;
    height: 500px;
    width: 350px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
transition: 0.3s;
transform: translateY(440px);
    border: solid rgb(204, 204, 204) 1px;
    box-shadow: 0px 0px 5px #888888;
}
#messageBar1{
    position: fixed;
    right: 0px;
    bottom: -440px;
    height: 500px;
    width: 350px;
    transition: 0.3s;
transform: translateY(-440px);
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 5px #888888;

    border: solid rgb(204, 204, 204) 1px;

}

.myMessageBar .messageBarFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.myMessageBar #messageBarTitle{
    padding: 10px;
    justify-content: space-between;
    border-bottom: solid rgb(204, 204, 204) 1px;
}

.myMessageBar #messageBarImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.myMessageBar #messageBarImage img{
    object-fit: cover;
    width: 100%;
}

.myMessageBar #messageBarMain{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.myMessageBar #messageBarSearch{
    cursor: pointer;
    width: 90%;
    border-radius: 6px;
    overflow: hidden;
    padding: 3px;
    padding-inline: 10px;
    justify-content: space-between;
    text-align: center;
    flex-grow: 1;
    background-color: rgb(230, 240, 244);
box-sizing: border-box;
border: solid transparent 3px;
margin-bottom: 20px

}
.myMessageBar #messageBarSearch:hover{
     border: solid gray 3px
}

.myMessageBar #messageBarSearch input{
    width: 100%;
    border: 0;
    background-color: transparent;
}
.myMessageBar #messageBarSearch input:focus{
    outline: none;
}
.myMessageBar .singleChat{
    width: 90%;
    height: 90px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-inline: 10px;
    cursor: pointer;
}
.myMessageBar .singleChat:hover {
    background-color: rgb(232, 230, 230);
}
.myMessageBar .singleChat:hover .date {
    display: none;
}
.myMessageBar .none{
    display: none;
    margin-top: 2px;
    margin-right: 2px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 4px;

}
.myMessageBar .none:hover{
    padding: 4px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(203, 202, 202);
}
.myMessageBar .singleChat:hover .none {
    display: flex;
    align-items: center;
    justify-content: center;
}
.myMessageBar .chatImage{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.myMessageBar .chatImage img{
    object-fit: cover;
    width: 100%;
}
.myMessageBar .chatContent{
    display: flex;
    flex-direction: column;
    border-bottom: solid rgb(204, 204, 204) 1px;
    width: 70%;
    height: 100%;
    overflow: hidden;
    
}
.myMessageBar .chatContent p {
    line-height: 1.5em;
    font-size: 15px;
}
.myMessageBar .icon{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.myMessageBar #icons{
    gap: 5px
}
.myMessageBar .icon:hover{
    background-color: rgb(232, 230, 230);
   
}
.myMessageBar #messageBarTitle .icon{
}
.myMessageBar .messageBarFlex-chat{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.myMessageBar .date{
    font-size: 12px;
}







#scroll-messageBar{
    width: 100%;
overflow-y: scroll;
height: 300px;}

@media screen and (max-width: 778px) {
    .smallSize{
        display: none;
    }
   
  }